:root {
  --color-primary: #212121;
  --color-backgorund: #f5f4fa;
  --color-brand: #2f303a;
  --color-text: #757575;
  --color-backgorund2: #f5f5f5;
  --color-soc-link: #afb1b8;
  --color-focus: #2196f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}
section {
  padding: 94px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  padding: 25px 0;
  background-color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo-link {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logoweb {
  color: #2196f3;
}
.nav-links {
  display: flex;
  gap: 50px;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-links .nav-link:hover {
  color: #2196f3;
}
.nav-links .nav-link:focus {
  color: var(--color-focus);
}
.contact-links {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-links-img {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-text);
  margin-right: 10px;
}
.contact-link:hover .contact-links-img {
  fill: var(--color-focus);
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  text-decoration: none;
}
.contact-link:hover {
  color: var(--color-focus);
}
.contact-link:focus {
  color: var(--color-focus);
}
.main-section-button {
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  background-image: url(/images/studio.image/backgroundimage.jpg);
  background-color: rgba(47, 48, 58, 0.4);
}
.container-main-button {
  text-align: center;
}
.main-text-button {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.main-button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}
.main-button:hover {
  background-color: #188ce8;
  color: #fff;
}
.main-text-section {
  background-color: #fff;
  padding-bottom: initial;
}
.main-text {
  display: flex;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
}

.main-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 10px;
  background-color: var(--color-backgorund);
}
.main-text-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
}
.main-text-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-decoration: none;
}

.main-section-whatwedoing {
  display: flex;
  gap: 30px;
  flex-basis: calc((100%-90px) / 3);
  justify-content: center;

  background-color: #fff;
}
.container-main-whatwedoings {
  text-align: center;
}
.text-whatwedoing {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.section-list-teams {
  background-color: var(--color-backgorund);
}
.list-teams-block {
  display: flex;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
  justify-content: center;
}
.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.list-team {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.list-team-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.list-teams {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding: 30px 0;
}

.net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
.net-link {
  fill: var(--color-soc-link);
}
.net-link:hover {
  fill: #fff;
  background-color: var(--color-focus);
}

.permanent-clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.permanent-clients-block {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.permanent-clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.permanent-clients-link:hover {
  fill: var(--color-focus);
  border-color: var(--color-focus);
}

footer {
  padding: 60px 0;
  background-color: var(--color-brand);
}

.logo-link-footer {
  padding-top: 60px;

  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logoweb-footer {
  color: #2196f3;
}
.link-address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}
.contact-links-footer {
  margin-top: 20px;
}
.contact-link-footer {
  margin: 9px 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.header-portfolio {
  border: 1px solid #ececec;
}

.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  background: var(--color-backgorund);
  border-radius: 4px;
  border: none;
}
.button-portfolio:focus {
  background-color: var(--color-focus);
  color: #fff;
}
.button-portfolio:hover {
  background-color: #2196f3;
  color: #fff;
}

.list-buttons-portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.list-portfolio-box {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  flex-wrap: wrap;
}
.porfolio-box {
  box-sizing: border-box;
  background: #ffffff;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.portfolio-text {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
